<div id="register-modal" class="modal">
    <ion-header-bar class="dark-bar">
        <h1 class="title">Register</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeRegister()"><i class="icon ion-close"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="register-content">
        <div class="list register-form dark-form">
            <label class="item item-input">
                <i class="icon ion-person"></i>
                <input type="text" ng-model="registerData.username" placeholder="Username">
            </label>
            <label class="item item-input">
                <i class="icon ion-locked"></i>
                <input type="password" ng-model="registerData.password" placeholder="Password">
            </label>
            <label class="item item-input">
                <i class="icon ion-at"></i>
                <input type="email" ng-model="registerData.email" placeholder="Email">
            </label>
            <label class="item item-input">
                <i class="icon ion-pricetag"></i>
                <input type="text" ng-model="registerData.tag" placeholder="Tag">
            </label>
            <label class="item item-input">
                <i class="icon ion-person-stalker"></i>
                <input type="text" ng-model="registerData.mains" placeholder="Main(s)">
            </label>
            <label class="item item-input">
                <i class="icon ion-trophy"></i>
                <input type="text" ng-model="registerData.games" placeholder="Game(s)">
            </label>
            <label ng-click="register()" id="registerLabel" class="item">
                Register
            </label>
        </div>
        
    </ion-content>
</div>
