<div id="login-modal" class="modal">
    <ion-header-bar class="dark-bar">
        <h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()"><i class="icon ion-close"></i></button>
        </div>
    </ion-header-bar>
    <ion-content class="login-content">
        <div class="list login-form dark-form">
            <label class="item item-input">
                <i class="icon ion-person"></i>
                <input type="text" ng-model="loginData.username" placeholder="Username">
            </label>
            <label class="item item-input">
                <i class="icon ion-locked"></i>
                <input type="password" ng-model="loginData.password" placeholder="Password">
            </label>
            <label ng-click="login()" id="loginLabel" class="item">
                Log In
            </label>
        </div>
        
        <div class="forgot-container">
            <a ng-click="forgotComingSoon()">Forgot Password?</a>
        </div>
    </ion-content>
</div>
