<div id="user-options-modal" class="modal">
  <ion-header-bar class="bar-dark">
    <h1 class="title">Hello {{user.tag}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeUserOptions()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="user-options-content">
    <div class="list">
      <label class="item">
        <button class="button button-block button-stable" ng-click="goToPreferences()">Preferences</button>
      </label>
      <label class="item">
        <button class="button button-block button-stable" ng-click="logout()">Logout</button>
      </label>
    </div>
  </ion-content>
</div>