/*
	GLOBAL
*/
body, h1, h2, h3, h4, h5, p {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: white;
}

input[disabled]{
	background-color: inherit;
}

.dark-bar {
	background-color: #121314;
	border-color: #2e2f33;
}

.text-black{
	color: black;
}

.text-bold{
	font-weight: bold;
}

.text-link{
	color: blue;
}

.dark-background{
	background-color: #121314;
}

.black-background{
	background-color: black;
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}

.no-wrap{
	white-space: nowrap;
}

.no-fluff{
	margin: 0px !important;
	padding: 0px !important;
}

.color-red{
	color: #DD0000;
}

.center-text{
	text-align: center;
}

/*
	HEADER
*/
#header-main .bar-header{
	background-color: #121314;
	border-color: #2e2f33;
}

#header-main .title{
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: white;
}

#header-main .bar-header .buttons .ion-navicon{
	color: #DD0000;
}

/*
	SIDE MENU
*/
#side-menu .scroll-content{
	background: black;
}

#side-menu .bar-header{
	background-color: #121314;
	border-color: #2e2f33;
}

#side-menu .bar-header .title{
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: white;
}

#side-menu .list a{
	border: none;
	background: none;
	color: #88898c;
}

#side-menu .list a i{
	margin-right: 25px;
}

.sideMenuActiveState span{
	color: white;
}

/*
	WELCOME SCREEN
*/
#welcome-screen .welcome-content{
	text-align: center;
	background: #121314 url("../img/SSBWallpaper.png") no-repeat center center;
	background-size: cover;
}

#welcome-screen .welcome-content .title{
	color: white;
	margin-top: 5px;
}

#welcome-screen .logo-container{
	position: absolute;
	width: 100%;
	top: 20%;
}

#welcomeLogoContainer{
	position: relative;
	height: 40vh;
	width: 40vh;
	left: 50%;
}

#welcome-screen .welcome-content .logoMain{
	position: absolute;
	width: 100%;
	height: 100%;
	left: -50%;
}

#welcome-buttons{
	position: absolute;
	bottom: 0px;
}

#welcome-screen .button-welcome{
	margin: 15px auto;
	width: 90%;
	font-size: 20px;
	background: transparent;
	border: 2px solid white;
	border-radius: 9px;
	color: white;
}

#welcome-screen .button-welcome.activated{
	border-color: #DD0000;
	color: #DD0000;
}

/*
	LOGIN MODAL
*/
#login-modal {
	background-color: #121314;
	color: white;
}

#login-modal a{
	color: white;
	text-decoration: none;
}

#login-modal .forgot-container{
	margin-top: 20px;
	text-align: center;
	font-weight: normal;
}

#login-modal .title{
	color: white;
	font-weight: bold;
}

.login-form i{
	margin-right: 25px;
}

.login-form button{
	margin-top: 20px;
}

.popup {
	color: black;
}

#loginLabel{
	color: white;
	background-color: #4A87EE;
	text-align: center;
}

/*
	REGISTER
*/
#register-modal {
	background-color: #121314;
	color: white;
}

#register-modal .title{
	color: white;
	font-weight: bold;
}

.register-form i{
	margin-right: 25px;
}

.register-form button{
	margin-top: 20px;
}

.popup p, h1, h2, h3, h4, h5{
	color: black;
}

#registerLabel {
	color: white;
	background-color: #4A87EE;
	text-align: center;
}

/*
	MESSAGING
*/
#messages .item{
	padding-bottom: 8px !important;
}

#messages img{
	height: 80px;
	width: 80px;
}

#messages h2{
	font-weight: bold;
}

#messages h5{
	color: #999999;
}

/*
	CHAT
*/
#chat-example i{
	margin-left: 10px !important;
}

#chat-example h5{
	color: #999999;
}

.chat-avatar{
	border-radius: 0% !important;
}

#chat-example p{
	margin-top: -4px !important
}

#chat-message-bar{
	margin: 0px !important;
	width: 100vw;
	padding: 0px;
	padding-left: 16px;
	border: 0px none;
}

#chat-send-button{
	float: right;
	height: 44px;
	width: 20% !important;
	border: 0px none !important;
	border-radius: 0% !important;
	margin: 0px !important;
	padding-top: 2px;
}


/*
	MAP
*/
.playerControls {
	background-color: #121314;
	line-height: 44px;
}

.playerControls button{
	height: 44px !important;
	border-radius: 0px !important;
	padding-top: 3px !important;
}

#map-clear-btn{
	padding: 0px 8px;
}

/*#map-loc-text{
	text-align: left;
	margin-left: 10px !important;
}*/

#map-active-text{
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	line-height: 44px;
	right: 75px;
}

#map-active-toggle{
	margin-top: 2px;
	margin-right: 5px !important;
}

#active-toggle-container{
	text-align: right;
}

#map-screen .map-content .scroll{
	height: 100%;
	width: 100%;
}

#map-screen #map{
	width: 100%;
	height: 100%;
}

#map-screen .refresh-button{
	position: absolute;
	bottom: 15px;
	right: 10px;
	height: 40px;
	min-height: 40px;
	line-height: 40px;
}

#map-player-info-content{
	text-align: center;
}

#map-player-info-content p{
	color: black;
	font-weight: normal;
}

#map-player-info-content .player-pic{
	height: 100px;
	width: 100px;
}

#map-player-info-content .button-message{
	min-height: 0;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
	background: #301FE1;
	border-color: #1A0387;
}



/*
	PROFILE
*/
.dark-form label{
	background-color: #1c1c1f;
	border-color: #2e2f33;
}

.dark-form i, .dark-form input, .dark-form span, .dark-form label{
	color: #88898c;
}

#profileHeader{
	color: white;
	font-weight: bold;
	text-align: center;
	background-color: #2C2F33;
}

#profileHeader .row, #profileHeader .col{
	padding: 0px !important;
}

#profileHeader img{
	height: 75px;
	width: 75px;
}

#profileEdit{
	color: white;
	background-color: #EF4E3A;
	text-align: center; 
}

#profileUpdate{
	color: white;
	background-color: #4A87EE;
	text-align: center; 
}

.profile-name{
	color: white !important;
	font-weight: bold;
	font-size: 30px;
}

.whiteT{
	color: white !important;
}

.FB-blue{
	background-color: #3B579D;
	border: 0px solid !important;
}

#profile .button:hover{
	color: white !important;
}

.FB-blue img{
	margin-bottom: 5px;
}

.FB-blue span{
	margin-top: 3px;
}

/*
	COMING SOON
*/
.comingSoonBG{
	background: #121314 url("../img/SSBWallpaper2.png") no-repeat center center;
	background-size: cover;
}

.soonH1{
	height: 10vh;
	color: white;
	text-align: center;
}

.logo{
	position: relative;
	height: 60vh;
	width: 100vmin;
	left: 50%;
}

#smashBall, #innerGlow{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: -50%;
}

.fillerContainer{
	position: static;
	height: 20vh;
}

.fillerText{
	position: absolute;
	bottom: 0px;
	text-align: center;
}

.blinkable {

	-webkit-animation: logoBlink infinite 5s;  /*Chrome, Safari, Opera */
    animation: logoBlink infinite 5s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes logoBlink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* Standard syntax */
@keyframes logoBlink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}